
body{
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: lighter;
    background-color: black;
}

footer{
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
}

.bgimg-1{
    position: relative;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/vivi_background.jpg');
    width: 100%;
    height: 100vh;
  }
  .bgimg-2{
    position: absolute;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/NN_background.png');
    width: 100%;
    height: 100%;
  }

  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(139, 139, 139, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
  }

  .title{
      text-align: center;
      margin: 0px;
      padding: 40px;
      font-weight: bolder;
      font-size: 70px;
      font-family: 'Work Sans',Helvetica,Arial,Lucida,sans-serif;

}

.with_background{
    position: relative;
    z-index: 1;
    height: 100vh;
}

.container_right{
    position: absolute;
    padding-left: 60%;
    padding-right: 30px;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 8px #40E0D0;
}

.basic_text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    width: 70vw;
    margin: auto;
}

@media (max-width: 959px) {
    .container_right{
        padding-left: 30px;
        text-align: center;
    }

    .bgimg-2{
        opacity: 0.5;
      }

}